 .big-button {
      background: $purple;
      color: white;
      border: none;
      border-bottom: $xs-size solid darken($purple, 10%);
      font-weight: bold;
      font-size: $l-size;
      margin-bottom: $xl-size;
      padding: $m-size;
      width: 100%;
 }

 .big-button:disabled {
     opacity: 0.5;
 }

 .button {
     background: $purple;
     border: none;
     color: white;
     border-bottom: 0.3rem solid darken($purple, 10%);
     padding: $s-size;
     font-weight: 500;
 }

 .button_link {
     background: none;
     border: none;
     color: $off-white;
     padding: 0;
 }